{% extends 'base/base.html' %}
{% load static %}
{% load customer_custom_tags %}
{% load humanize %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Rider</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Rider</a></li>
                        <li class="breadcrumb-item active">{{ driver.user.name|capfirst }} {{ customer.last_name|capfirst }}</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    {% if driver %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="media">
                                <div class="mr-3">
                                    <div class="avatar-md">
                                            <h1 class="avatar-title rounded-circle">
                                                {{ driver.user.name|first|upper }}
                                            </h1>
                                        </div>
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="text-muted">
                                        <p class="mb-2">Welcome to {{ driver.user.name|capfirst }}'s  dashboard</p>
                                        <h5 class="mb-1">{{ customer.entity.details.name }}</h5>
                                        <p class="mb-0 badge badge-dark">
                                            Rider Account
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 align-self-center">
                            <div class="text-lg-center mt-4 mt-lg-0">
                                <div class="row">
                                    <div class="col-4">
                                        <div>
                                            <p class="text-muted text-truncate mb-2">Email</p>
                                            <h5 class="mb-0">{{ driver.user.email }}</h5>
                                        </div>
                                    </div>

                                    <div class="col-8">
                                        <div>
{#                                            {% if driver.rider_status == 'incomplete' or driver.rider_status == 'pending' %}#}
{#                                                <a href="{% url 'perform_action' driver.id 'rider' 'activate' %}" class="btn btn-success">Activate Rider </a>#}
{#                                            {% else %}#}
{#                                                <a href="{% url 'perform_action' driver.id 'rider' 'de-activate' %}" class="btn btn-danger">Deactivate Rider </a>#}
{#                                            {% endif %}#}
                                            {% if driver.user.access %}
                                                <a href="{% url 'customer_control' driver.user.user_id 'deactivate' %}" class="btn btn-danger">Deactivate Rider </a>
                                            {% else %}
                                                <a href="{% url 'customer_control' driver.user.user_id 'activate'  %}" class="btn btn-success">Activate Rider </a>
                                            {% endif %}

                                            <button data-action-type="account" data-action="deletion" data-href="{% url 'account_deletion' driver.user.user_id 'drivers'  %}" class="confirm btn btn-danger"><i class="fa fa-trash"></i> Delete</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form id="dateSort">
                        <div class="form-row">
                            <div class="col-3 form-group">
                                <label> From </label>
                                <input type="date" id="from_date" name="from_date" class="form-control" >
                            </div>
                            <div class="col-3 form-group">
                                <label> To </label>
                                <input type="date" id="to_date" name="to_date" class="form-control" >
                            </div>

                            <div class="col-3 form-group">
                                <label>&nbsp;</label>
                                <br/>
                                <input type="hidden" name="rider_id" value="{{ driver_id }}">
                                <button class="btn  btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Revenue</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>&#8358; <span id="revenue">0</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Pending Earnings</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>&#8358; <span id="earnings">0</span></h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Debt</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4>&#8358; <span id="debt">0</span></h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Orders</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4><span id="totalDeliveryCount">0</span></h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Completed Orders</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4><span id="deliveryCount">0</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Rider Details</h4>
                    <div class="">
                        <a class="btn btn-danger" href="">Payout</a>
                        <a class="btn btn-success" href="{% url 'services' %}?service_type=rider&driver_id={{ driver.id  }}">View deliveries</a>
                        <a class="btn btn-success" href="{% url 'withdrawals' %}?driver_id={{ driver.id  }}">View withdrawal</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Rider ID</th>
                                        <td>{{ driver.rider_id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Full Name</th>
                                        <td>{{ driver.user.name|capfirst}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ driver.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{ driver.user.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date of Birth</th>
                                        <td>  {{ driver.user.dob }}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{ driver.user.address|capfirst|default:"None" }}</td>
                                    </tr>
{#                                    <tr>#}
{#                                        <th>Country</th>#}
{#                                        <td>{{ customer.address.country|capfirst|default:"None" }}</td>#}
{#                                    </tr>#}
                                    <tr>
                                        <th>Kyc Completed</th>
                                        <td>{% if not driver.is_verified %}<span class="badge badge-danger">Not completed</span> {% else %} <span class="badge badge-success">Completed</span> {% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Activated</th>
                                        <td>{% if not driver.user.access %}<span class="badge badge-danger">Inactive</span> {% else %} <span class="badge badge-success">Active</span> {% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Date Joined</th>
                                        <td>{{ driver.date_created }}</td>
                                    </tr>
                                    <tr>
                                        <th>Delivery completed</th>
                                        <td>{{ driver.delivery_completed }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Rider Banks</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Bank Name</th>
                                                    <th>BVN</th>
                                                    <th>Account Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% if driver.user.bank %}
                                                <tr>
                                                    <td>{{ driver.user.bank.name }}</td>
                                                    <td>{{ driver.user.bank.bvn }}</td>
                                                    <td>{{ driver.user.bank.account_no }}({{ driver.user.bank.account_name }})</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td class="text-danger text-center" colspan="3">No bank added</td>
                                                </tr>
                                                {% endif %}
                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Vehicle Details</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th>Name</th>
                                                <td> {{ driver.vehicle.name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Registration</th>
                                                <td> {{ driver.vehicle.registration }}</td>
                                            </tr>
                                            <tr>
                                                <th>Type</th>
                                                <td> {{ driver.vehicle.type }}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                <div class="card-body">
                    <div class="card-header bg-white p-0 d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Rider Documents</h4>
                        <div>
                            <button class=" confirm btn btn-success btn-sm text-white mr-2"  data-action-type="kyc" data-action="approve" data-href="{% url 'driver_action' driver.id %}?action=kyc&action_type=approve"><i class="fa fa-check-circle"></i>Approve</button>
                            <button class=" confirm btn btn-danger btn-sm text-white mr-2"  data-action-type="kyc" data-action="disapprove" data-href="{% url 'driver_action' driver.id %}?action=kyc&action_type=disapprove"><i class="fa fa-times-circle"></i>Disapprove</button>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Document</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>LGA Paper</td><td><a href="{{ driver.documents.lga_paper }}">view</a> </td></tr><tr>
                                            <td>Hackney Permit</td><td><a href="{{ driver.documents.hackney_permit }}">view</a> </td></tr><tr>
                                            <td>State Carriage</td><td><a href="{{ driver.documents.state_carriage }}">view</a> </td></tr><tr>
                                            <td>Insurance</td><td><a href="{{ driver.documents.insurance }}">view</a> </td></tr><tr>
                                            <td>License</td><td><a href="{{ driver.documents.license }}">view</a> </td></tr><tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-danger text-center"> User not found.</h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- end row -->

{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/merchant.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            datePickerInit()
            const urlParams = $('#dateSort').serialize()
            dashboardRequest(urlParams)
            $('#dateSort').submit(function(e){
                e.preventDefault()
                dashboardRequest($(this).serialize())
            })
            function dashboardRequest(queryParams){
                const url = "{% url 'analytics' %}?" + queryParams
                dashboardWidgetsGraph(url)
            }
        }
        )
    </script>
{% endblock script %}