{% extends 'base/base.html' %}
{% load humanize %}
{% load customer_custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Products</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Products</a></li>
                        <li class="breadcrumb-item active">All</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <p class="text-muted font-weight-medium">Total Products</p>
                                    <h4 class="mb-0">{{ analytics.total_products|intcomma }}</h4>
                                </div>

                                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                    <span class="avatar-title">
                                        <i class="bx bx-copy-alt font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <p class="text-muted font-weight-medium">Total Active Products</p>
                                    <h4 class="mb-0">{{ analytics.total_active_products|intcomma }}</h4>
                                </div>

                                <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                    <span class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bx-archive-in font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <p class="text-muted font-weight-medium">Total Inactive Products</p>
                                    <h4 class="mb-0">{{ analytics.total_inactive_products|intcomma }}</h4>
                                </div>

                                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                    <span class="avatar-title">
                                        <i class="bx bx-copy-alt font-size-24"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card" style="background: #f1f1f1;">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col-5 form-group">
                                <label> Search </label>
                                <input class="form-control"  value="{{ search_value }}" type="text" placeholder="Search by title" name="search_value"/>
                            </div>
                            <div class="col-1 form-group">
                                <label>&nbsp;</label>
                                <br/>
                                <button class="btn  btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                            <input type="hidden" value="user" name="search_type">
                        </div>
                    </form>
                {% include 'base/search_base.html' %}

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Business</th>
                                    <th scope="col">Cost Price</th>
                                    <th scope="col">Selling Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Is Active</th>
                                    <th scope="col">Is Published</th>
                                    <th scope="col">Date Created</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for product in products.results %}
                                <tr class="customer-row-link" style="cursor:pointer" data-href="{% url 'product' product.id %}">
                                    <td>
                                        {{ product.name }}
                                    </td>
                                    <td>{{ product.business_name }}</td>
                                    <td>{{ product.cost_price|intcomma }}</td>
                                    <td>{{ product.selling_price|intcomma }}</td>
                                    <td>{{ product.quantity|intcomma }}</td>
                                    <td>{{ product.sub_category_name }}</td>
                                    <td>{{ product.is_active }}</td>
                                    <td>{{ product.is_publish }}</td>
                                    <td>{{ product.date_created }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center text-danger"> No products available</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if pagination == True %}
                                <p class="text-center mt-4"> Total entries: {{ transactions.count }}</p>
                                <ul class="pagination justify-content-center mb-0">
                                    {% if prev_page_url %}
                                        <li class="page-item"> <a class="page-link" href="{{ prev_page_url }}" tabindex="-1"><i class="fa fa-angle-left"></i> Prev</a> </li>
                                    {% else %}
                                        <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i> Prev</a> </li>
                                    {% endif %}
                                    {% if next_page_url %}
                                        <li class="page-item"> <a class="page-link" href="{{ next_page_url }}">Next <i class="fa fa-angle-right"></i></a> </li>
                                    {% else %}
                                        <li class="page-item disabled"> <a class="page-link" href="" tabindex="-1">Next <i class="fa fa-angle-right"></i></a> </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $('.customer-row-link').click(function(){
                window.location = $(this).data('href')
            })
        })
    </script>
{% endblock %}