{% extends 'base/base.html' %}
{% load static %}
{% load customer_custom_tags %}
{% load humanize %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Product</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Product</a></li>
                        <li class="breadcrumb-item active">{{ product.id }}</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    {% if product %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="media">

                                <div class="media-body align-self-center">
                                    <div class="text-muted">
                                        <h5 class="mb-1">{{ product.name }}</h5>
                                        <p class="mb-0 badge badge-dark">
                                            Product Dashboard
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 align-self-center">
                            <div class="text-lg-center mt-4 mt-lg-0">
                                <div class="row">
                                    <div class="col-4">
                                        <div>
                                            <p class="text-muted text-truncate mb-2">Avg. Rating</p>
                                            <h5 class="mb-0">N{{ product.avg_rating|default:0|intcomma }}</h5>
                                        </div>
                                    </div>

                                    <div class="col-5">
                                        <div>
                                            {% if product.is_active %}
                                                <a href="{% url 'product_control' product.id 'deactivate' %}" class="btn btn-danger">Deactivate Product </a>
                                            {% else %}
                                                <a href="{% url 'product_control' product.id 'activate'  %}" class="btn btn-success">Activate Product </a>
                                            {% endif %}
                                            {% if product.is_publish %}
                                                <a href="{% url 'product_control' product.id 'unpublish' %}" class="btn btn-danger">Unpublish Product </a>
                                            {% else %}
                                                <a href="{% url 'product_control' product.id 'publish'  %}" class="btn btn-success">Publish Product </a>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>
            <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form id="dateSort">
                        <div class="form-row">
                            <div class="col-3 form-group">
                                <label> From </label>
                                <input type="date" id="from_date" name="from_date" class="form-control" >
                            </div>
                            <div class="col-3 form-group">
                                <label> To </label>
                                <input type="date" id="to_date" name="to_date" class="form-control" >
                            </div>
                            <div class="col-3 form-group">
                                <label>&nbsp;</label>
                                <br/>
                                <input type="hidden" name="product_id" value="{{ product_id }}">
                                <input type="hidden" name="sort_by" value="none"/>
                                <button class="btn  btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Views</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4 class="total_views"> 0</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Sales</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4 class="total_sales">&#8358; 0</h4>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Reviews</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4 class="total_reviews">0</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Return</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4 class="total_returns">0</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Product Details</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Title</th>
                                        <td>{{ product.title|capfirst }} </td>
                                    </tr>
                                    <tr>
                                        <th>Business Name</th>
                                        <td>{{ product.business_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Cost Price</th>
                                        <td>{{ product.cost_price }}</td>
                                    </tr>
                                <tr>
                                        <th>Selling Price</th>
                                        <td>{{ product.selling_price }}</td>
                                    </tr>
                                <tr>
                                        <th>Quantity</th>
                                        <td>{{ product.quantity }}</td>
                                    </tr>
                                <tr>
                                        <th>Category</th>
                                        <td>{{ product.category_name }}</td>
                                    </tr>
                                <tr>
                                        <th>Sub Category</th>
                                        <td>{{ product.sub_category_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ product.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Is Active</th>
                                        <td>{{ product.is_active }}</td>
                                    </tr>
                                    <tr>
                                        <th>Is Published</th>
                                        <td>{{ product.is_publish }}</td>
                                    </tr>

                                    <tr>
                                        <th>Date Created</th>
                                        <td>{{ product.date_created }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{#        <div class="col-6">#}
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="card-header bg-white p-0 d-flex justify-content-between align-items-center">#}
{#                                <h4 class="card-title">Extra Information</h4>#}
{#                            </div>#}
{##}
{#                            <hr>#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <div class="table-responsive">#}
{#                                        <table class="table">#}
{#                                            <thead>#}
{#                                                <tr>#}
{#                                                    <th>Document</th>#}
{#                                                    <th>Action</th>#}
{#                                                </tr>#}
{#                                            </thead>#}
{#                                            <tbody>#}
{#                                                {% for document in customer.docs %}#}
{#                                                    <tr>#}
{#                                                        <td>#}
{#                                                            {% if document == 'id_card' %}#}
{#                                                                <a href="{{ media_url }}{{ customer.docs.id_card }}" target="_blank">ID Card</a>#}
{#                                                            {% elif document == 'proof_address' %}#}
{#                                                                <a href="{{ media_url }}{{ customer.docs.proof_address }}">Proof of Address</a>#}
{#                                                            {% endif %}#}
{#                                                        </td>#}
{#                                                        <td>#}
{#                                                            <a href="{% url 'delete_customer_files' customer.id 'id_card' 'welldone' %}"><i class="fa fa-trash"></i></a>#}
{#                                                        </td>#}
{#                                                    </tr>#}
{#                                                    {% empty %}#}
{#                                                    <tr>#}
{#                                                        <td colspan="2" class="text-center text-danger">No document found</td>#}
{#                                                    </tr>#}
{#                                                {% endfor %}#}
{#                                            </tbody>#}
{#                                        </table>#}
{##}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

    </div>

    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-danger text-center"> Product not found.</h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- end row -->

{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/merchant.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            datePickerInit()
            const urlParams = $('#dateSort').serialize()
            dashboardRequest(urlParams)
            $('#dateSort').submit(function(e){
                e.preventDefault()
                dashboardRequest($(this).serialize())
            })
            function dashboardRequest(queryParams){
                const url = "{% url 'analytics' %}?" + queryParams
                dashboardWidgetsGraph(url)
            }
        }
        )
    </script>
{% endblock script %}