{% extends 'base/base.html' %}
{% load humanize %}
{% load customer_custom_tags %}
{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha512-kq3FES+RuuGoBW3a9R2ELYKRywUEQv0wvPTItv3DSGqjpbNtGWVdvT8qwdKkqvPzT93jp8tSF4+oN4IeTEIlQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18"> </h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Subscription</a></li>
                        <li class="breadcrumb-item active">All</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5>Subscriptions</h5>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createAd">Add New</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Discount(1st MM)</th>
                                    <th scope="col">Discount(3rd MM)</th>
                                    <th scope="col">Discount(12th MM)</th>
                                    <th scope="col">Distance</th>
                                    <th scope="col">Stores</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for subscription in subscriptions %}
                                <tr>
                                    <td>{{ subscription.title }}</td>
                                    <td>{{ subscription.amount|intcomma }}</td>
                                    <td>{{ subscription.discount_1st_month|intcomma }}%</td>
                                    <td>{{ subscription.discount_3rd_month|intcomma }}%</td>
                                    <td>{{ subscription.discount_12th_month|intcomma }}%</td>
                                    <td>{{ subscription.total_distance }}KM</td>
                                    <td>{{ subscription.total_businesses }}</td>
                                    <td>{{ subscription.date_created }}</td>
                                    <td>
                                        <button class="btn btn-sm bg-primary confirm text-white"><i class="fa fa-edit"></i></button>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center text-danger"> No subscription available</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            {% if pagination == True %}
                                <p class="text-center mt-4"> Total entries: {{ transactions.count }}</p>
                                <ul class="pagination justify-content-center mb-0">
                                    {% if prev_page_url %}
                                        <li class="page-item"> <a class="page-link" href="{{ prev_page_url }}" tabindex="-1"><i class="fa fa-angle-left"></i> Prev</a> </li>
                                    {% else %}
                                        <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i> Prev</a> </li>
                                    {% endif %}
                                    {% if next_page_url %}
                                        <li class="page-item"> <a class="page-link" href="{{ next_page_url }}">Next <i class="fa fa-angle-right"></i></a> </li>
                                    {% else %}
                                        <li class="page-item disabled"> <a class="page-link" href="" tabindex="-1">Next <i class="fa fa-angle-right"></i></a> </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createAd" tabindex="-2" role="dialog"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new subscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mt-3" style="border-top:1px solid #eee;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="form-group col-12">
                            <label class="form-label">Title</label>
                            <input class="form-control" name="title" placeholder="Enter title" />
                        </div>
                        <div class="form-group col-12">
                            <label class="form-label">Available Features</label>
                           <select name="features" class="form-control select2-files" multiple>
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label class="form-label">Total Distance Covered</label>
                            <input class="form-control" name="distance" placeholder="Enter distance in KM" />
                        </div>

                        <div class="form-group col-12">
                            <label class="form-label">Total Stores</label>
                            <input class="form-control" name="store" placeholder="Enter total store" />
                        </div>
                         <div class="form-group col-12">
                            <label class="form-label">Amount</label>
                            <input class="form-control" name="amount" placeholder="0.0" />
                        </div>
                        <div class="form-group col-12">
                            <label class="form-label">Discount (1st Month)</label>
                            <input class="form-control" name="discount_1st_month" placeholder="1-100%" />
                        </div>
                        <div class="form-group col-12">
                            <label class="form-label">Discount (3rd Month)</label>
                            <input class="form-control" name="discount_3rd_month" placeholder="1-100%" />
                        </div>
                        <div class="form-group col-12">
                            <label class="form-label">Discount (12th Month)</label>
                            <input class="form-control" name="discount_12th_month" placeholder="1-100%" />
                        </div>
                    </div>
                    <div class="d-flex ">
                        <button class="btn btn-primary mx-3" >Add Subscription</button>
                    </div>
                </form>
              </div>

            </div>
          </div>
        </div>

{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js" integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $( ".select2-files" ).select2({
            theme: "bootstrap",
            placeholder: "Create",
              tags: true

        });
    </script>
{% endblock %}