{% extends 'base/base.html' %}
{% load static %}
{% load customer_custom_tags %}
{% load humanize %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Order</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Order</a></li>
                        <li class="breadcrumb-item active">{{ order.track_id }}</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    {% if order %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="media">

                                <div class="media-body align-self-center">
                                    <div class="text-muted">
                                        <h5 class="mb-1">{{ order.track_id }}</h5>
                                        <p class="mb-0 badge badge-dark">
                                            Order Dashboard
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7 align-self-center">
                            <div class="text-lg-center mt-4 mt-lg-0">
                                <div class="row">


                                    <div class="col-5">
                                        <div>
                                            {% if order.is_active %}
                                                <a href="{% url 'product_control' order.id 'deactivate' %}" class="btn btn-danger">Terminate Order </a>
                                                {% endif %}

{#                                            {% else %}#}
{#                                                <a href="{% url 'product_control' order.id 'activate'  %}" class="btn btn-success"></a>#}
{#                                            {% endif %}#}


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Items</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4 class="total_views">{{ analytics.total_items|intcomma }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Processing Items</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4 class="total_sales">{{ analytics.total_processing_items|intcomma }}</h4>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Completed Items</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4 class="total_reviews">{{ analytics.total_completed_items|intcomma }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                        <i class="bx bx-copy-alt"></i>
                                    </span>
                                </div>
                                <h5 class="font-size-14 mb-0">Total Returned Items</h5>
                            </div>
                            <div class="text-muted mt-4">
                                <h4 class="total_returns">{{ analytics.total_returned_items|intcomma }}</h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Order Details</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Track ID</th>
                                        <td>{{ order.track_id }} </td>
                                    </tr>
                                    <tr>
                                        <th>Total Items</th>
                                        <td>{{ order.total_items }} </td>
                                    </tr>
                                    <tr>
                                        <th>Total Cost</th>
                                        <td>{{ order.total_cost }} </td>
                                    </tr>
                                    <tr>
                                        <th>Total Amount</th>
                                        <td>{{ order.total_amount }} </td>
                                    </tr>
                                    <tr>
                                        <th>Payment Confirmed</th>
                                        <td>{{ order.is_payment_confirmed }} </td>
                                    </tr>
                                    <tr>
                                        <th>User</th>
                                        <td>{{ order.customer_name }} </td>
                                    </tr>
                                    <tr>
                                        <th>Shipping Contact Name</th>
                                        <td>{{ order.shipping_contact_phone }} </td>
                                    </tr>
                                    <tr>
                                        <th>Shipping Address</th>
                                        <td>{{ order.shipping_address }} </td>
                                    </tr>
                                    <tr>
                                        <th>Shipping Contact Phone</th>
                                        <td>{{ order.shipping_contact_phone }} </td>
                                    </tr>
                                    <tr>
                                        <th>Status </th>
                                        <td>{{ order.status }} </td>
                                    </tr>
                                    <tr>
                                        <th>Date Created</th>
                                        <td>{{ order.date_created }}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header bg-white p-0 d-flex justify-content-between align-items-center">
                                <h4 class="card-title">Order Items</h4>

                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-centered table-nowrap table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Vendor</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for booking_item in order.details %}
                                <tr>
                                    <th scope="col"><a href="{% url 'vendor'  booking_item.vendor_id %}">{{ booking_item.vendor }}</a></th>
                                    <th scope="col">{{ booking_item.product_name }}</th>
                                    <th scope="col">{{ booking_item.quantity }}</th>
                                    <th scope="col">{{ booking_item.item_cost|intcomma }}</th>
                                    <th scope="col">{{ booking_item.discount }}</th>
                                    <th scope="col">{{ booking_item.total_cost|intcomma }}</th>
                                    <th scope="col">{{ booking_item.status }}</th>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center text-danger"> No bookings available</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                                </div>
                            </div>

                        </div>
                    </div>
                        </div>
                    </div>
                </div>

    </div>

    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-danger text-center"> Product not found.</h5>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- end row -->

{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/merchant.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            datePickerInit()
            const urlParams = $('#dateSort').serialize()
            dashboardRequest(urlParams)
            $('#dateSort').submit(function(e){
                e.preventDefault()
                dashboardRequest($(this).serialize())
            })
            function dashboardRequest(queryParams){
                const url = "{% url 'analytics' %}?" + queryParams
                dashboardWidgetsGraph(url)
            }
        }
        )
    </script>
{% endblock script %}